<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IVentasService" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://laptop-toh2ue67/VentasSeguro/WCF_VentasPlusSeguroWS.VentasWS.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVentasService"
    contract="VentasServiceRef.IVentasService" name="BasicHttpBinding_IVentasService" />
  </client>
	</system.serviceModel>
</configuration>